*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#canvas1{
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
}

#controls{
    position: absolute;
    top: 20px;
    left: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;

    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    width: 320px;
    background: rgba(255,255,255,0.1);
    z-index: 10;
}

.buttons{
    display: flex;
    gap: 10px;
    width: 100%;
}

button{
    flex: 1;
    padding: 10px;
    border-radius: 14px;
    border: none;
}


label, input{
    color: beige;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

